@import 'tailwindcss' theme(static);
@import '@nuxt/ui';
@plugin "@tailwindcss/typography";
@tailwind utilities;

:root {
  --default-font-family: var(--font-sans);
  --ui-header-height: --spacing(18);
}

@theme static {
  --font-sans: 'Montserrat', sans-serif;
  --font-pixelify: Pixelify Sans Hack4Krak; /* Pixelify Sans font with changed number "5" */
  --font-roboto: 'Roboto', sans-serif;
  --color-red-450: #fb4d3d;

  --spacing-icon-sm: --spacing(4);
  --spacing-icon-md: --spacing(5);
  --spacing-icon-lg: --spacing(7);
}

@utility rendering-pixelated {
  image-rendering: pixelated;
}

@utility h-screen-without-header {
  height: calc(100vh - var(--ui-header-height));
}

@utility min-h-screen-without-header {
  min-height: calc(100vh - var(--ui-header-height));
}

@utility scrollbar-hide {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility link {
  text-decoration: underline;
  color: white;
  cursor: pointer;

  @variant hover {
    color: var(--ui-primary);
  }
}

@utility stroked-text-1 {
  -webkit-text-stroke-color: transparent;
  -webkit-text-fill-color: var(--ui-text);
  user-select: none;
  background-color: var(--ui-bg);
  background-clip: text;
  -webkit-text-stroke-width: 0.1em;
}

@utility stroked-text-3 {
  @apply stroked-text-1;
  -webkit-text-stroke-width: 0.3em;
}

@utility link-without-underline {
  color: oklch(87% 0 0);
  cursor: pointer;

  @variant hover {
    color: var(--ui-primary);
  }
}
