@import 'tailwindcss';
@import '@nuxt/ui';
@tailwind utilities;

:root {
  --default-font-family: 'Roboto', Arial, sans-serif;
}

@theme {
  --font-sans: 'Public Sans', sans-serif;
  --font-pixelify: Pixelify Sans;
}

@utility rendering-pixelated {
  image-rendering: pixelated;
}

@utility bg-default {
  background: var(--ui-bg);
}

@utility scrollbar-hide {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  ::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
