@import 'tailwindcss' theme(static);
@import '@nuxt/ui';
@plugin "@tailwindcss/typography";
@tailwind utilities;

:root {
  --default-font-family: 'Roboto', Arial, sans-serif;
}

@theme {
  --font-sans: 'Public Sans', sans-serif;
  --font-pixelify: Pixelify Sans;
  --color-primary-darker: #987117;
}

@utility rendering-pixelated {
  image-rendering: pixelated;
}

@utility bg-default {
  background: var(--ui-bg);
}

@utility scrollbar-hide {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility link {
  text-decoration: underline;
  color: white;
  cursor: pointer;

  @variant hover {
    color: var(--ui-primary);
  }
}
