@import 'tailwindcss';
@import '@nuxt/ui';
@import './fundaments.css';

@source "../content/**/*";

@tailwind utilities;

@layer base {
  /* https://kyleshevlin.com/tailwind-minimum-full-height-layout/ */
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}

:root {
  --default-font-family: var(--font-sans);

  --ui-header-height: --spacing(20);

  --ui-primary: var(--color-primary);
  --ui-secondary: var(--color-secondary);

  --ui-text-dimmed: var(--color-text-muted);
  --ui-text-muted: var(--color-text-muted);
  --ui-text-toned: var(--color-text-default);
  --ui-text: var(--color-text-default);
  --ui-text-highlighted: var(--color-text-default);
  --ui-text-inverted: var(--color-surface-default);

  --ui-bg: var(--color-surface-default);
  --ui-bg-muted: var(--color-surface-muted);
  --ui-bg-elevated: var(--color-surface-muted);
  --ui-bg-accented: var(--color-surface-muted);
  --ui-bg-inverted: var(--color-text-default);

  --ui-border: var(--color-surface-muted);
  --ui-border-muted: var(--color-text-muted);
  --ui-border-accented: var(--color-text-muted);
  --ui-border-inverted: var(--color-text-default);

  --ui-radius: var(--radius);

  --spacing-icon-sm: --spacing(4);
  --spacing-icon-md: --spacing(5);
  --spacing-icon-lg: --spacing(7);

  --vis-tooltip-background-color: var(--ui-bg-accented) !important;
  --vis-tooltip-border-color: var(--ui-bg-elevated) !important;
  --vis-axis-grid-line-width: 0.25 !important;
  --tooltip-value-color: var(--ui-text);
  --tooltip-label-color: var(--ui-text);
}

@theme static {
  --font-sans: 'Montserrat', sans-serif;
  --font-pixelify: Pixelify Sans Hack4Krak; /* Pixelify Sans font with changed number "5", "2", "7"; letters "T", "Z", "H", "j"; slash "/" and modified polish diacritic characters */
  --font-roboto: 'Roboto', sans-serif;
  --color-red-450: #fb4d3d;
}

@utility icon-sm {
  width: var(--spacing-icon-sm);
  height: var(--spacing-icon-sm);
}

@utility icon-md {
  width: var(--spacing-icon-md);
  height: var(--spacing-icon-md);
}

@utility icon-lg {
  width: var(--spacing-icon-lg);
  height: var(--spacing-icon-lg);
}

@utility rendering-pixelated {
  image-rendering: pixelated;
}

@utility h-screen-without-header {
  height: calc(100vh - var(--ui-header-height));
}

@utility scrollbar-hide {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility link {
  text-decoration: underline;
  color: white;
  cursor: pointer;

  @variant hover {
    color: var(--ui-primary);
  }
}

@utility stroked-text-1 {
  -webkit-text-stroke-color: transparent;
  -webkit-text-fill-color: var(--ui-text);
  user-select: none;
  background-color: var(--ui-bg);
  background-clip: text;
  -webkit-text-stroke-width: 0.1em;
}

@utility stroked-text-3 {
  @apply stroked-text-1;
  -webkit-text-stroke-width: 0.3em;
}

@utility link-without-underline {
  color: oklch(87% 0 0);
  cursor: pointer;

  @variant hover {
    color: var(--ui-primary);
  }
}
