# Backend
backend/target/
backend/openapi-cli/
!backend/openapi-cli/Cargo.toml
backend/TasksTemplate/

# Frontend
**/node_modules/
frontend/tests
frontend/.output
frontend/.nuxt

# Ignore environment variables
*/.env
