{% extends "base.html" %}

{% block title %}Zarejestruj szkołę{% endblock %}

{% block content %}
<p style="margin: 0 0 24px; font-size: 16px; line-height: 24px; color: #475569">
    <strong>Dzień dobry!</strong><br/>
    Dziękujemy za zgłoszenie szkoły <strong>{{ organization }}</strong> do konkursu informatycznego <strong>Hack4Krak CTF</strong>!<br/><br/>
    Poniższy przycisk umożliwia rejestrację maksymalnie trzech pięcioosobowych drużyn.<br/>
    Po wysłaniu formularza nie będzie możliwa edycja zgłoszonych drużyn.
    <strong>Prosimy NIE PRZEKAZYWAĆ tego linku uczniom</strong> – jest on przeznaczony wyłącznie dla nauczycieli oraz dyrekcji.<br/><br/>
    W formularzu należy podać liczbę drużyn oraz ich nazwy. Po jego wypełnieniu zostaną wygenerowane unikalne kody dostępu. Każdy kod należy przekazać uczniom w odpowiedniej drużynie – uczniowie, po zarejestrowaniu się na stronie <a href="https://hack4krak.pl">hack4krak.pl</a>, mogą go użyć, aby dołączyć do przypisanej drużyny.<br/><br/>
    W razie wątpliwości zachęcamy do zapoznania się z
    <a href="https://hack4krak.pl/docs/rules">Regulaminem wydarzenia</a>,
    <a href="https://hack4krak.pl/docs/privacy-policy">Polityką Prywatności</a>,
    <a href="https://hack4krak.pl/">naszą stroną internetową</a> oraz
    <a href="https://hack4krak.pl#section-how-to-participate">informacjami o zapisach dla uczniów i nauczycieli</a>.<br/><br/>
    Bylibyśmy też wdzięczni, za <strong>poinformowanie uczniów o wydarzeniu za pomocą m.in. dziennika elektronicznego</strong>
    W razie pytań prosimy o kontakt z organizatorami <a href="mailto:kontakt@hack4krak.pl">kontakt@hack4krak.pl</a> lub opiekunem ze strony Rady Pedagogicznej <a href="mailto:aligaskowaluk@lo31.krakow.pl">aligaskowaluk@lo31.krakow.pl</a>.<br/><br/>
    Wydarzenie jest współorganizowane przez
    <a href="https://www.lo31.krakow.pl/">XXXI Liceum Ogólnokształcące w Krakowie</a>.
</p>

{% call macros::cta_button("Zarejestruj drużyny!", link) %}

{% endblock %}
