name: CI
on: 
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: read

env:
  DATABASE_URL: postgres://backend:password@localhost:5432/hack4krak
  CARGO_TERM_COLOR: always
  # Make sure CI fails on all warnings, including Clippy lints
  RUSTFLAGS: "-Dwarnings"


jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"

      - name: 'Install dependencies'
        run: |
          bun frontend:install --frozen-lockfile

      - name: "Run lint"
        run: bun frontend:lint

      - name: "Run type checks"
        run: bun frontend:typecheck

      - name: "Run tests"
        run: bun frontend:test

      - name: "Cache Playwright binaries"
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('bun.lock') }}

      - name: "Prepare for e2e tests"
        run: bunx playwright install chromium --with-deps

      - name: "Build frontend"
        run: bun frontend:build

      - name: "Run e2e tests"
        run: bun frontend:e2e

  backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rust-src-dir: backend

      - name: Install dependencies
        run: cargo build --locked
        working-directory: backend

      - name: Verify if openapi is up to date
        run: cargo run -p openapi-cli
        working-directory: backend

      - name: Run tests
        run: cargo test --features=full-test-suite
        working-directory: backend

      - name: Run lint
        run: cargo fmt && cargo clippy
        working-directory: backend
